@import "tailwindcss"
 ;

@custom-variant dark (&:where(.dark, .dark *));


@theme{
    --color-primary: #3b82f6;
    --color-primary-dark: #0d0d0d;
    --color-primary-white-text: #FFFFFF;
    --color-link-hover-color: #00E5FF;
}



