@import "tailwindcss"
 ;

@custom-variant dark (&:where(.dark, .dark *));


@theme{
    --color-primary: #3b82f6;
    --color-primary-dark: #0d0d0d;
    --color-primary-white-text: #FFFFFF;
    --color-link-hover-color: #00E5FF;
}




@media  (max-width: 989px) {
    .nav-name{
    
        color: white;
        font-size: 19px;
    }
    .section1{
    padding-left: 155px;
    padding-right: 110px;
   

   
    }
}





@media  (max-width: 920px) {
    .nav-name{
    font-size: 17px; 
}
}

@media  (max-width: 795px) {
    .nav-name{
    font-size: 17px;
    display: flex; 
    flex-direction: column;
    height: 380px;
    width: 300px;
    background-color: #1A237E;
    z-index: 1;
    gap: 55px;
    position: fixed;
    right: 0px;
    padding-top: 20px;
    
    display: none;
    
    /* left: 1000px; */
;

}
.nav-name a{
  
   padding: 6px;
   font-size: 20px;
}

.nav-name a:hover{
    background-color: aliceblue;
}


    .section1 h1{
   font-size: 18px;

  
   
    }

     .section1 div{
   font-size: 15px;

    /* padding-left: 105px;
    padding-right: 100px; */
   
    }
}



@media  (max-width: 690px) {


.section1{
   
    padding-left: 80px;
    padding-right: 80px;
   
    }
    .section1 h1{
   font-size: 15px;

  
   
    }

     .section1 div{
 
   padding-left: 60px;

   
    /* padding-left: 105px;
    padding-right: 100px; */
   
    }
}



@media  (max-width: 660px) {


   .test-mom{
   
    gap: 10px;
    padding-left: 5px;
    padding-right: 4px;
    grid-template-columns: auto;

   }
}